@(loggedInUser: Benutzer)
<div class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <a class="brand" href="@routes.Application.index()">Arche GUI</a>

        <ul class="nav span3 pull-right">
            <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> @loggedInUser.fullName <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.logout()">Logout</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>