@(arche: Archetype, loggedInUser: Benutzer)

    @for(element: Element <- arche.getElements) {
        @defining(Application.getDataFromDB(arche)) { data: Daten =>
            @if(element.getType.equals("boolean")) {
                @element.getArchetype.getName <br xmlns="http://www.w3.org/1999/html">
                @if(data == null || data.getValue.equals("no")) {
                    @if(loggedInUser.getThemenType==0){
                    	<input type="radio" name="@element.getId" value="yes"> @play.i18n.Messages.get("yes") <br>
                    	<input type="radio" name="@element.getId" checked="checked" value="no"> @play.i18n.Messages.get("no") <br> <br>
                	} else { 
                		<select name="@element.getId">
                			<option value="yes"> @play.i18n.Messages.get("yes") </option>
                			<option value="no" checked="checked"> @play.i18n.Messages.get("no") </option>
                		</select>
                	}
                } else {
                	@if(loggedInUser.getThemenType==0){
                    <input type="radio" name="@element.getId" checked="checked" value="yes"> @play.i18n.Messages.get("yes") <br>
                    <input type="radio" name="@element.getId" value="no"> @play.i18n.Messages.get("no") <br> <br>
                    } else {
                   		<select name="@element.getId" size="2">
                			<option value="yes" checked="checked"> @play.i18n.Messages.get("yes") </option>
                			<option value="no" > @play.i18n.Messages.get("no") </option>
                		</select>
                    }
                }
            }
            @if(element.getType.equals("stringlist")) {
                @element.getArchetype.getName <br>
                @if(!element.getChoices.isEmpty) {
                    <select name="choice@element.getId">
                    @for(choice: Choice <- element.getChoices) {
                        @if(data != null && Integer.valueOf(data.getValue) + 5 == choice.getId) {
                            <option value="@element.getChoices.indexOf(choice)" selected="selected">@choice.getChoice</option>
                        } else {
                            <option value="@element.getChoices.indexOf(choice)">@choice.getChoice</option>
                        }
                    }
                    </select> <br>
                }
            }
            @if(element.getType.equals("int")) {
                @element.getArchetype.getName <br>

                @if(data != null) {
	                @if(loggedInUser.getThemenType==0){
	                	<input type="number" pattern="[0-9.]+" maxlength="3" min="0" max="200" name="@element.getId" value="@data.getValue">
	                } else {
	               		<input type="number" id="rangeValue1" value="@data.getValue">
	                	<input type="range" id="slider1" name="@element.getId"  min="0" max="200"  value="@data.getValue" onchange="printValue('slider1','rangeValue1')" name="@element.getId">
	                }
                } else {
                	@if(loggedInUser.getThemenType==0){ 
                		<input type="number" pattern="[0-9.]+" min="0" max="200" maxlength="3" name="@element.getId" value="0">
                	} else {
                		<input type="number" id="rangeValue1" >
                		<input type="range" id="slider1" name="@element.getId" value="100" min="0" max="200"  onchange="printValue('slider1','rangeValue1')" pattern="[0-9.]+" maxlength="3" name="@element.getId" value="0">
                	}
                }
                @if(!element.getChoices.isEmpty) {
                    <select name="choice@element.getId">
                    @for(choice: Choice <- element.getChoices) {
                        @if(data != null && choice.getChoice.equals(data.getSelected)) {
                            <option value="@choice.getChoice" selected="selected"> @choice.getChoice </option>
                        } else {
                            <option value="@choice.getChoice"> @choice.getChoice </option>
                        }
                    }
                    </select> <br>
                }

            }
            @if(arche.getUsedArchetypes.size() <= 0) {
                @if(data != null) {
                    <input type="submit" class="btn" value="@play.i18n.Messages.get("update")">
                } else {
                    <input type="submit" class="btn" value="@play.i18n.Messages.get("save")">
                }
            }
        }
    }
    @if(arche.getUsedArchetypes.size() > 0) {
        <div class="row">
            <div class="span4">
                <table class="table table-hover">
                    <tr><th>Archetype</th><th>@play.i18n.Messages.get("save.db")</th></tr>
                    @for(archeId: String <- arche.getUsedArchetypes) {
                        <tr><th>@Archetype.find.byId(archeId).name</th>
                            @if(Application.dataInDB(Archetype.find.byId(archeId))) {
                                <th><i class="icon-ok"></i></th>
                            } else {
                                <th><i class="icon-remove"></i></th>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            @if(Application.allDataInDB(arche)){
                BMI: @Application.calculateBMI() <br>
                @play.i18n.Messages.get("submit") @Application.getPhysician
            }
        </div>

}


