@(names: List[Archetype])
<!DOCTYPE html>

<html>
<body>
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Archetypes</li>
			@for(a <- names) {
		  	<li><a href="description/@a.getId" class="pull-right" data-target="#myModal" data-toggle="modal"><i class="icon-info-sign"></i></a><a href="#">@a.getName</a> </li>

			}
		</ul>
    </div>
</body>
</html>
<!-- Modal -->
<div id="myModal" class=" modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Info</h3>
    </div>
    <div class="modal-body">
        <p>Oh something went wrong, please try it again.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>​
<script>
    $('#myModal').on('show', function () {
    $(this).removeData('modal');
    });
</script>
